<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>



<body>

<nav th:fragment="navigation" class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">

    <a class="navbar-brand"></a>






1
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto col-12 justify-content-end">










            <ul

                    class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/register}">Register</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}">AboutUs</a>
                </li>


                <li class="nav-item justify-content-end">
                    <a class="nav-link" th:href="@{/addbook}">AddBook</a>
                </li>

                <li class="nav-item justify-content-end">
                    <a class="nav-link" th:href="@{/allbooks}">AllBook</a>
                </li>

                <li class="nav-item justify-content-end">
                    <a class="nav-link" th:href="@{/addauthor}">AddAuthor</a>
                </li>




            </ul>











        </ul>


    </div>
</nav>



</body>
</html>