<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head::head}">

</head>




<body>
<div class="wrapper">
    <!-- Navigation -->
    <header>






        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbar">







                <ul

                        class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/register}">Register</a>


                </ul>








                <a class="nav-link" th:href="@{/profile}">
                    <img width="50px" src="/images/profilepicture.jpg" alt="Profile Picture">
                </a>









            </div>
        </nav>





    </header>





    <section class="road" th:each="user : ${users}" th:object="${user}">
        <div>
            <h2 th:text="*{username}">Username</h2>
            <p th:text="*{email}">Mail</p>
            <p th:text="*{fullName}">Full Name</p>
            <form
                    th:method="post"
                    th:action="@{/admin/{id}(id=*{id})}">
                <input class="btn btn-link nav-link" type="submit" value="Remove Role">
            </form>
        </div>
    </section>



</div>
<!-- Wrapper Ends -->
</body>







<footer class="footer bg-blur rounded">
    <div class="container-fluid text-center">
        <div class="h5 text-white">
            Spring Advanced Students 2021. All rights reserved.
        </div>
    </div>
</footer>
</html>