<html lang="en"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head::head}"></head>


<body>
<div class="wrapper">
    <header>

        <nav th:replace="~{fragments/navbar::navbar}"></nav>

    </header>


    <section class="road" th:each="book : ${books}" th:object="${book}">
        <div>
            <h2 th:text="'Title: ' + *{name}">Your Name</h2>
            <p th:text="'Author: ' + *{author}">Your Author</p>
            <p th:text="'Genre: ' + *{genre}">Your Genre</p>
            <p th:text="'Release Year: ' + *{releaseYear}">Release Year</p>
            <p th:text="'Pages: ' + *{pages}">Pages</p>
            <p th:text="'Rating: ' + *{rating}">Rating</p>
            <a class="btn" th:href="@{/details/{id}(id=*{id})}">Comment</a>
            <div><p></p></div>
            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
            <form
                    th:action="@{/details/{id}(id=*{id})}"
                    th:method="DELETE">
                <!--<img id="box-b-img" src="/images/star" height="150px" alt="">-->
                <input class="btn btn-link nav-link" type="submit" value="Delete Book">
            </form>
            </th:block>
            <div><p></p></div>
            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                <form
                        th:action="@{/allbook/{id}(id=*{id})}"
                        th:method="PATCH">
                    <input class="btn btn-link nav-link" type="submit" value="Rate Book">
                </form>
            </th:block>
        </div>
    </section>


</div>
</body>

<footer th:replace="~{fragments/footer::footer}"></footer>
</html>