<html lang="en"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head::head}"></head>


<body>
<div class="wrapper">
    <header>

        <nav th:replace="~{fragments/navbar::navbar}"></nav>

    </header>


    <section class="road" th:each="book : ${books}" th:object="${book}">
        <div>
            <h2 th:text="*{name}">Your Name</h2>
            <p th:text="*{author}">Your Author</p>
            <p th:text="*{genre}">Your Genre</p>
            <p th:text="*{releaseYear}">Release Year</p>
            <p th:text="*{pages}">Pages</p>
            <a class="btn" th:href="@{/details/{id}(id=*{id})}">Comment</a>
            <div><p></p></div>
            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
            <form
                    th:action="@{/details/{id}(id=*{id})}"
                    th:method="DELETE">
                <input class="btn btn-link nav-link" type="submit" value="Delete Book">
            </form>
            </th:block>
        </div>
    </section>


</div>
</body>

<footer th:replace="~{fragments/footer::footer}"></footer>
</html>