<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="~{fragments/head::head}"></head>

<body>
<div class="wrapper ">

    <header>

        <nav th:replace="~{fragments/navbar::navbar}"></nav>

    </header>


    <section class="road">
        <img alt="" src="/images/spotlight-book.jpg">
        <div>
            <h2>Spotlight Book</h2>
            <p>This month we recommend to our readers </p>
            <a class="btn" th:href="@{/spotlight}">Learn More</a>
        </div>
    </section>


    <section class="boxes">
        <a class="main-btn" th:href="@{/allbooks}">
            <div class="box">

                <h3>All Books</h3>

            </div>
        </a>
        <a class="main-btn" th:href="@{/allauthors}">
            <div class="box">

                <h3>All Authors</h3>

            </div>
        </a>
        <a class="main-btn" href="/">
            <div class="box">

                <h3>Best Sellers</h3>

            </div>
        </a>
        <a class="main-btn" href="/">
            <div class="box">

                <h3>Most Commented</h3>

            </div>
        </a>
    </section>


</div>


<footer th:replace="~{fragments/footer::footer}"></footer>

</body>
</html>


<!--
site-bgr.jpg -> rename font picture-->
