<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="~{fragments/head::head}">

</head>



<body>


<div  class="wrapper ">

    <header>






        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbar">







                <ul

                        class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/register}">Register</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about}">AboutUs</a>
                    </li>


                    <li class="nav-item justify-content-end">
                            <a class="nav-link" th:href="@{/addbook}">AddBook</a>
                        </li>

                    <li class="nav-item justify-content-end">
                        <a class="nav-link" th:href="@{/allbooks}">AllBooks</a>
                    </li>

                    <li class="nav-item justify-content-end">
                        <a class="nav-link" th:href="@{/addauthor}">AddAuthor</a>
                    </li>

                    <li class="nav-item justify-content-end">
                        <a class="nav-link" th:href="@{/allauthors}">AllAuthors</a>
                    </li>


                </ul>



                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <div class="form-inline my-2 my-lg-0 px-3">
                            <div class="text-dark">Welcome, <th:block sec:authentication="name"></th:block>!</div>
                            <form
                                    th:method="post"
                                    th:action="@{/logout}">
                                <input class="btn btn-link nav-link" type="submit" value="Logout">
                            </form>
                        </div>
                    </li>


                    <a class="nav-link" th:href="@{/profile}">
                        <img width="50px" src="/images/profilepicture.jpg" alt="Profile Picture">
                    </a>

















            </div>
        </nav>






</header>













    <section class="road">
        <img src="/images/spotlight-book.jpg" alt="">
        <div>
            <h2>Spotlight Book</h2>
            <p>This month we recommend to our reader </p>
            <a th:href="@{/spotlight}" class="btn">Learn More</a>
        </div>
    </section>




    <section class="boxes">
        <a th:href="@{/allbooks}" class="main-btn" >
            <div class="box">

                <h3>All Books</h3>

            </div>
        </a>
        <a href="/" class="main-btn" >
            <div class="box">

                <h3>New Books</h3>

            </div>
        </a>
        <a href="/" class="main-btn" >
            <div class="box">

                <h3>Best Sellers</h3>

            </div>
        </a>
        <a href="/" class="main-btn" >
            <div class="box">

                <h3>Most Commented</h3>

            </div>
        </a>
    </section>


</div>
<!-- Wrapper Ends -->'

<footer class="footer bg-blur rounded">
    <div class="container-fluid text-center">
        <div class="h5 text-white">
            Spring Advanced Students 2021. All rights reserved.
        </div>
    </div>
</footer>


</body>
</html>




<!--
site-bgr.jpg -> rename font picture-->
