<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}"></head>

<nav th:replace="~{fragments/navbar::navbar}"></nav>

<body>
<main class="p-5 align-content-center bg-blur my-register-div">
    <h1 class="    border-bottom mb-5">Login</h1>
    <div class="d-flex justify-content-center">

        <div class="row g-3 align-items-center">

            <form method="POST"
                  th:action="@{/login}">


                <div class="form-group align-content-center">
                    <input
                            class="form-control"
                            id="username"
                            max="50"
                            min="4" name="username" placeholder="Username"
                            th:value="${username}"
                            type="text"/>
                    <label class="form-label" for="username">Username</label>
                </div>


                <div class="form-group align-content-center">
                    <input
                            class="form-control"
                            id="password"
                            max="50"
                            min="2" name="password" placeholder="Password"
                            th:value="${password}"
                            type="password"/>
                    <label class="form-label" for="password">Password</label>
                </div>

                <p class="errors alert alert-danger" th:if="${bad_credentials}">
                    Invalid username or password.
                </p>


                <!-- Submit button -->
                <div class="col col-md-4">
                    <div class="button-holder d-flex">
                        <input class="btn btn-info btn-lg" type="submit" value="Sign In"/>
                    </div>
                </div>


                <!-- Register buttons -->
                <div class="text-center">

                    <p class="text-danger">Not a member? <a th:href="@{/register}">Register</a></p>

                </div>
            </form>


        </div>

    </div>
</main>


<footer th:replace="~{fragments/footer::footer}"></footer>
</body>
</html>
