<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head::head}">

</head>




<body>



<header>








    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbar">







            <ul

                    class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/register}">Register</a>


            </ul>








            <a class="nav-link" th:href="@{/profile}">
                <img width="50px" src="/images/profilepicture.jpg" alt="Profile Picture">
            </a>









        </div>
    </nav>










</header>

<div>
    <p> </p>
</div>


<main class="p-5 align-content-center my-register-div bg-light">

    <h1 class="border-bottom mb-5">Profile</h1>


    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <img src="/images/profilepicture.jpg" alt="avatar"
                         class="rounded-circle img-fluid" style="width: 150px;">



                </div>
            </div>

        </div>
        <div class="col-lg-8">
            <div class="card mb-4" th:object="${userProfileDto}">
                <div class="card-body">


                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Username</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0" th:name="*{username}"  th:text="*{username}">JohnatanSmith10</p>
                        </div>
                    </div>
                    <hr>


                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Full Name</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0" th:name="*{fullName}" th:text="*{fullName}">Johnatan Smith</p>
                        </div>
                    </div>


                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0" th:name="*{email}"  th:text="*{email}">example@example.com</p>
                        </div>
                    </div>



<!--                    <hr>-->
<!--                    <div class="row">-->
<!--                        <div class="col-sm-3">-->
<!--                            <p class="mb-0"  th:text="*{role}">Role</p>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                    <hr>-->






                </div>
            </div>

        </div>
    </div>
    </div>
    </section>




</main>
</body>






<footer class="footer bg-blur rounded">
    <div class="container-fluid text-center">
        <div class="h5 text-white">
            Spring Advanced Students 2021. All rights reserved.
        </div>
    </div>
</footer>
</html>
