<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head::head}"></head>

<body>

<div class="wrapper">

    <header>

        <nav th:replace="~{fragments/navbar::navbar}"></nav>

    </header>


    <section class="spotlight text-center">
        <img alt="" src="/images/spotlight-book.jpg">
        <div class="p-3 mb-2 bg-dark text-white">

            <h1 class="text-info text-center">The Ink Black Heart</h1>

            <h3>The Ink Black Heart is a crime fiction novel
                by the English author J. K. Rowling,
                written under the pseudonym Robert Galbraith.
                It is the sixth and the longest novel in the Cormoran Strike series. </h3>

        </div>
    </section>


</div>

<footer th:replace="~{fragments/footer::footer}"></footer>

</body>

</html>




