<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Book Library</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>



</head>
<body>
<div class="wrapper">

    <header>






        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbar">







                <ul

                        class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/register}">Register</a>


                </ul>








                <a class="nav-link" href="/">
                    <img width="50px" src="/images/profilepicture.jpg" alt="Profile Picture">
                </a>









            </div>
        </nav>






    </header>













    <section class="spotlight text-center">
        <img src="/images/spotlight-book.jpg" alt="">
        <div class="p-3 mb-2 bg-dark text-white">

            <h1 class ="text-info text-center" >The Ink Black Heart</h1>

            <h3>The Ink Black Heart is a crime fiction novel
                by the English author J. K. Rowling,
                written under the pseudonym Robert Galbraith.
                It is the sixth and the longest novel in the Cormoran Strike series.  </h3>


        </div>
    </section>



</div>
<!-- Wrapper Ends -->'

<footer class="footer bg-blur rounded">
    <div class="container-fluid text-center">
        <div class="h5 text-white">
            Spring Advanced Students 2021. All rights reserved.
        </div>
    </div>
</footer>
</body>

</html>




